<!-- Get values from main index.html file -->
{% assign ind = (site.pages | sort: "order" | where: "group" , "index" | where: "lang" , page.lang) %}
{% assign index_title = ind[0].title %}
{% assign index_subtitle = ind[0].subtitle %}
{% assign index_url = ind[0].url %}

<header class="p1">
  <div class="ctr">
    <div class="row">

      <div class="col cd3">

          <!-- Site name -->
          <!-- Detect active page by url -->
          {% if (page.group == "index") %}
            <a class="pyr025 act" href="{{ index_url | replace:"index.html","" | prepend: site.baseurl }}">{{ index_title }}</a>
          {% else %}
            <a class="pyr025" href="{{ index_url | replace:"index.html","" | prepend: site.baseurl }}">{{ index_title }}</a>
          {% endif %}
          <!-- End of Site name -->

      </div>

      <div class="col cd5">

          <!-- Main menu -->
          {% assign pages = site.pages | sort: "order" %}
          {% for p in pages %}
            {% if p.title and p.lang == page.lang and (p.group == "about" or p.group == "work" or p.group == "contact") %}
              <!-- Detect active page by url -->
              {% if (page.url == p.url) or (page.group == p.children) %}
                <a class="pyr025 act" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
              {% else %}
                <a class="pyr025" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
          <!-- End of Main menu -->

      </div>

      <div class="col cd4">

          <!-- Language menu -->
          {% assign counter = 0 %}
          {% assign pages = (site.pages | sort: "order" | where: "group" , "index" | where: "published" , "true") %}
          {% if pages.size > 1 %}
            {% for p in pages %}
              {% if page.group == "index" or page.group == "error" %}
                {% if counter == 0 %}
                  {% assign twin_url = "/" %}
                {% else %}
                  {% capture twin_url %}/{{ p.lang }}/{% endcapture %}
                {% endif %}
              {% else %}
                {% assign twin = (site.pages | sort: "order" | where: "group" , page.group | where: "order" , page.order | where: "lang" , p.lang ) %}
                {% assign twin_url = twin[0].url %} {% endif %}
                {% if twin_url and p.lang %}
                  <!-- Detect current page by language -->
                  {% if page.lang == p.lang %}
                    <a class="pyr025 act" href="{{ twin_url | replace:" index.html "," " | prepend: site.baseurl }}" hreflang="{{ p.lang }}" lang="{{ p.lang }}">{{ p.language }}</a>
                  {% else %}
                    <a class="pyr025" href="{{ twin_url | replace:" index.html "," " | prepend: site.baseurl }}" hreflang="{{ p.lang }}" lang="{{ p.lang }}">{{ p.language }}</a>
                  {% endif %}
                {% endif %}
                {% assign counter=counter | plus:1 %}
            {% endfor %}
          {% endif %}
          <!-- End of Language menu -->

      </div>

    </div>
  </div>
</header>
