<div class="ctr">

{% assign pages = site.pages | sort: 'order' | reverse %}

{% for p in pages %}
  {% if p.group == "project" %}
    {% if p.lang == page.lang and p.label and p.image and p.index_tile != false %}

      <div class="row">

        <div class="col">
          <a href="{{ p.url | prepend: site.baseurl }}">
            <div class="boy">
              {% assign ttl = p.title | replace: ' ', ' ' %}
              {% include image100vw.html basename=p.image alt=ttl %}
              <svg class="arw w20" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 300 300" width="300" height="300">
                <circle fill="none" stroke="#0057ff" stroke-width="2" stroke-miterlimit="10" cx="150" cy="150" r="140"></circle>
                <path fill="none" stroke="#0057ff" stroke-width="2" stroke-miterlimit="10" d="M152 132 186 149 186 151 152 168"></path>
                <line fill="none" stroke="#0057ff" stroke-width="2" stroke-miterlimit="10" x1="186" y1="150" x2="118" y2="150"></line>
              </svg>
            </div>
            <div class="p1">{{ p.title }} →</div>
          </a>
        </div>

      </div>

    {% endif %}
  {% endif %}
{% endfor %}

</div>
