---
title: Práce
description: Usilovne pracujeme na tvorbe inovatívnych produktov a výnimočných značiek. Sme zvedaví a hladní.
permalink: /sk/prace/
layout: default
published: true
group: work
children: project
lang: sk
language: Slovensky
og-locale: sk_SK
og-image: vyvojka-work-tiles-2by1-w2000.jpg
order: 2
---
<main class="px2">
  <div class="crl">

    <div class="row pb4">
      <div class="col cd9 ofd3">
        <p class="h1 mw3">Sme multidisciplinárni dizajnéri, myslitelia a tvorcovia.</p>
        <p><a href="/sk/kontakt/">Porozprávajte sa s nami →</a></p>
      </div>
    </div>

  </div>
</main>


{% include work-tiles.html %}


<main class="px2">
  <div class="crl">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
        {% if page.subtitle %}<h2 class="h2">{{ page.subtitle }}</h2>{% endif %}
        <p>Usilovne pracujeme na tvorbe inovatívnych produktov a výnimočných značiek. Sme zvedaví a hladní.</p>
      </div>
    </div>

  </div>
</main>
