---
title: Re pello Model 16
label: Model 16
subtitle: Drevený, celo-odpružený detský bicykel
description: Dizajn dreveného, celo-odpruženého detského bicykla Model 16. Vystavený na výstave Designblok 2017 v Prahe.
permalink: /sk/prace/re-pello-model-16/
layout: default
published: true
group: project
lang: sk
language: Slovensky
og-locale: sk_SK
thumbnail: re-pello-model-16-stone-1by1
image: re-pello-model-16-side-2by1
og-image: re-pello-model-16-side-2by1-w2000.jpg
order: 3
sitemap:
  priority: 1
index_tile: true
work_tile: true
class: m16
---
<div class="ctr">

  <div class="row">
    <div class="col">
      {% include image100vw.html basename="re-pello-model-16-side-2by1" alt="Re pello Model 16" %}
    </div>
  </div>

</div>


<div class="px1">
  <div class="ctr">

    <div class="row py1">
      <div class="col c6">
       {% include image50vw.html basename="re-pello-model-16-stone-1by1" alt="Re pello Model 16 pri kameni" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="re-pello-model-16-jiri-marjan-1by1" alt="Re pello Model 16 a Jiří Marján" %}
      </div>
    </div>

    <div class="row py1">
      <div class="col">
        {% include image100vw.html basename="re-pello-model-16-stonewall-4by3" alt="Červený Re pello Model 16" %}
      </div>
    </div>

  </div>
</div>


<main class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        {% if page.title %}<h1 class="h1">{{ page.title }}</h1>{% endif %}
      </div>
    </div>

    <div class="row pb1">
      <div class="col c9 cd5 ofd3">
        {% include image100-50vw.html basename="re-pello-model-16-drawing-3by2" alt="Re pello Model 16 výkres" %}
      </div>
    </div>

    <div class="row">
      <div class="col cd9 ofd3">
        <p>Model 16 je celo-odpružený bicykel pre deti, vyrobený z brezovej preglejky.</p>
        <p>Model 16 je celo-odpružený patentovaným systémom LVS™. Systém odpruženia vytvoril konštruktér Jiří Marján.</p>
        <p>Vďaka odpruženiu predného i zadného kolesa sú výrazným spôsobom redukované vibrácie, ktoré vznikajú pri jazde po akomkoľvek povrchu, a ktoré majú negatívny vplyv na zdravie dieťaťa.</p>
        <p><a target="_blank" href="https://www.repello.cz/">Re pello</a> Model 16 bol vystavený na výstave <a target="_blank" href="http://www.designblok.cz/">Designblok</a> 2017 v Prahe.</p>
      </div>
    </div>

  </div>
</main>


{% include highlight-tiles.html %}
