---
title: Re pello korporátny dizajn
label: Re pello
subtitle: Re pello dizajn
description: Korporátny dizajn značky Re pello.
permalink: /sk/prace/re-pello-korporatny-dizajn/
layout: default
published: true
group: project
lang: sk
language: Slovensky
og-locale: sk_SK
thumbnail: re-pello-logo-design-birch-1by1
image: re-pello-logo-design-birch-2by1
og-image: re-pello-logo-design-birch-2by1-w2000.jpg
order: 1
sitemap:
  priority: 1
index_tile: true
work_tile: true
class: mj
---
<div class="ctr">

  <div class="row">
    <div class="col">
      {% include image100vw.html basename="re-pello-logo-design-birch-2by1" alt="Re pello logo dizajn" %}
    </div>
  </div>

</div>


<main class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
        <p>Korporátny dizajn značky <a target="_blank" href="https://www.repello.cz/">Re pello</a>.</p>
      </div>
    </div>

  </div>
</main>


<div class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="re-pello-business-cards-w-2by1" alt="Re pello vizitky" %}
      </div>
    </div>

    <div class="row py1">
      <div class="col cd9 ofd3">
        <p>Re pello vizitky.</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="re-pello-model-j-dieline-package-design-2by1" alt="Model J obalový dizajn" %}
      </div>
    </div>

    <div class="row py1">
      <div class="col cd9 ofd3">
        <p>Model J obalový dizajn.</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="re-pello-color-combinations-5by4" alt="Re pello farby" %}
      </div>
    </div>

    <div class="row py1">
      <div class="col cd9 ofd3">
        <p>Re pello farby.</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="re-pello-strapline-2by1" alt="Re pello slogan Pre radosť z pohybu" %}
      </div>
    </div>

    <div class="row py1">
      <div class="col cd9 ofd3">
        <p>Re pello slogan.</p>
      </div>
    </div>

    <div class="row pb2">
      <div class="col">
        {% include image100vw.html basename="re-pello-exhibition-designblok-2016-1-4by3" alt="Re pello výstava Designblok 2016" %}
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="re-pello-exhibition-designblok-2017-1-4by3" alt="Re pello výstava Designblok 2017" %}
      </div>
    </div>

    <div class="row pt1">
      <div class="col cd9 ofd3">
        <p>Re pello výstavnícky dizajn.</p>
      </div>
    </div>

    <div class="row">
      <div class="col cd9 ofd3">
        {% if page.subtitle %}<h2 class="h2">{{ page.subtitle }}</h2>{% endif %}
      </div>
    </div>

    <div class="row pb1">
      <div class="col c6 cd5 ofd3">
        {% include image50vw.html basename="re-pello-illustration-paper-airplanes-3by2" alt="ilustrácia papierových lietadiel" %}
      </div>
    </div>

    <div class="row">
      <div class="col cd9 ofd3">
        <p>Pre značku <a target="_blank" href="https://www.repello.cz/">Re pello</a> sme navrhli logo, slogan, obaly produktov, Model J manuál, letáky, vizitky a výstavy.</p>
        <p>Vybrali sme font <a target="_blank" href="http://www.urtd.net/fonts/doko">Doko</a> od <a target="_blank" href="http://www.setuptype.com/">Ondreja Jóba</a>, dvanásť farieb a štrnásť farebných kombinácií.</p>
        <p>Nakreslili ilustrácie, navrhli a vytvorili internetový obchod.</p>
        <p>Vývoj trval popri práci na <a href="/sk/prace/re-pello-model-j/">Modely J</a> a <a href="/sk/prace/re-pello-model-16/">Modely 16</a> tri roky.</p>
        <p>Na korporátnom dizajne značky <a target="_blank" href="https://www.repello.cz/">Re pello</a> spolupracovali <a target="_blank" href="http://www.evamikulasova.com/">Eva Mikulášová</a>, Júlia Švajda a <a target="_blank" href="http://www.pavolmikulas.com/">Pavol Mikuláš</a>.</p>
      </div>
    </div>

  </div>
</div>


{% include highlight-tiles.html %}
