---
title: Re pello Model J
label: Model J
subtitle: Detské odrážadlo Re pello Model J
description: Model J je celo-odpružené odrážadlo pre deti vo veku 2 až 4 rokov.
permalink: /sk/prace/re-pello-model-j/
layout: default
published: true
group: project
lang: sk
language: Slovensky
og-locale: sk_SK
thumbnail: re-pello-model-j-red-athlete-1by1
image: re-pello-model-j-red-athlete-2by1
og-image: re-pello-model-j-milan-dancing-2by1-w2000.jpg
order: 2
sitemap:
  priority: 1
index_tile: true
work_tile: true
class: mj
---
<div class="ctr">

  <div class="row">
    <div class="col">
      {% include image100vw.html basename="re-pello-model-j-milan-dancing-2by1" alt="Re pello Model J Miláno edícia" %}
    </div>
  </div>

</div>


<main class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
        <p><a target="_blank" href="https://www.repello.cz/">Re pello</a> <a target="_blank" href="https://www.repello.cz/model-j/">Model J</a> je celo-odpružené odrážadlo pre deti vo veku 2 až 4 rokov.</p>
        <p>Je ľahké, a príjemne mäkké.</p>
      </div>
    </div>

  </div>
</main>


<div class="p1">
  <div class="ctr">

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="re-pello-exhibition-milan-2017-1by1" alt="Re pello Model J na výstave Salone del Mobile 2017 v Miláne" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="re-pello-exhibition-milan-edition-2017-1by1" alt="Re pello Model J na výstave Salone del Mobile 2017 v Miláne" %}
      </div>
    </div>

    <div class="row py1">
      <div class="col cd9 ofd3">
        <p>Model J bol vystavený na <a target="_blank" href="https://www.salonemilano.it/">Salone del Mobile</a> v roku 2017 v Miláne.</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="re-pello-exhibition-festivalmini-2017-2by1" alt="Re pello na festivale mini v roku 2017" %}
      </div>
    </div>

    <div class="row py1">
      <div class="col cd9 ofd3">
        <p>Model J na <a target="_blank" href="http://festivalmini.cz/">festivale mini</a> v Prahe.</p>
      </div>
    </div>

    <div class="row pb2">
      <div class="col">
        {% include image100vw.html basename="re-pello-model-j-red-athlete-2by1" alt="Re pello Model J červený" %}
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="re-pello-model-j-production-4-1by1" alt="Re pello Model J výroba" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="re-pello-model-j-production-3-1by1" alt="Re pello Model J výroba" %}
      </div>
    </div>

    <div class="row py1">
      <div class="col cd9 ofd3">
        <p>Výroba odrážadla v Českej republike.</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="re-pello-model-j-white-4by3" alt="Re pello Model J vizualizácia" %}
      </div>
    </div>

    <div class="row pt1">
      <div class="col cd9 ofd3">
        <p>Vizualizácia odrážadla.</p>
      </div>
    </div>

    <div class="row">
      <div class="col cd9 ofd3">
        {% if page.subtitle %}<h2 class="h2">{{ page.subtitle }}</h2>{% endif %}
      </div>
    </div>

    <div class="row pb1">
      <div class="col c6 cd5 ofd3">
        {% include image50vw.html basename="re-pello-model-j-drawing-3by2" alt="Re pello Model J výkres" %}
      </div>
    </div>

    <div class="row">
      <div class="col cd9 ofd3">
        <p>Model J sme vyvinuli v spolupráci s inžinierom Jiřím Marjánom/Re pello.</p>
        <p>Odrážadlo bolo vystavené na výstave Designblok v roku 2015, 2016 a 2017 v Prahe a na veľtrhu nábytku Salone del Mobile 2017 v Miláne.</p>
      </div>
    </div>

  </div>
</div>


{% include highlight-tiles.html %}
