---
title: Vývojka
subtitle: Dizajnérske štúdio
description: Vývojka je dizajnérske štúdio zamerané na inovácie so sídlom v Bratislave..
layout: default
published: true
group: index
lang: sk
language: Slovensky
og-locale: sk_SK
og-image: vyvojka-essence-2by1-w2000.jpg
order: 2
---
<main class="px1">
  <div class="ctr">

    <div class="row pb2">
      <div class="col cd9 ofd3">
        <p class="h1 mw3">Radi navrhujeme produkty a značky a učíme sa nové veci.</p>
        <p><a href="/sk/o-nas/">Toto sme my →</a></p>
      </div>
    </div>

  </div>
</main>


{% include index-tiles-w100.html %}


<div class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1 mb05">{{ page.title }}</h1>
        {% if page.subtitle %}<h2 class="h2 mt05">{{ page.subtitle }}</h2>{% endif %}
        <p>Sme dizajnérske štúdio zamerané na inovácie so sídlom v Bratislave.</p>
        <p>Spoločnosti si nás najímajú, aby sme definovali, navrhli, vyprototypovali, vyrobili, otestovali a overili výrobky a značky.</p>
        <p>Sme hrdí, že môžeme pracovať pre Eset, DZ Dražice a Re pello.</p>
        <p><a href="/sk/prace/">Prečítajte si viac o našej práci →</a></p>
      </div>
    </div>

  </div>
</div>
