---
title: O nás
description: Sme húževnatí, optimistickí, ticho sebavedomí a spokojní s dokonalosťou.
permalink: /sk/o-nas/
layout: default
published: true
group: about
lang: sk
language: Slovensky
og-locale: sk_SK
order: 1
og-image: vyvojka-essence-2by1-w2000.jpg
---
<main class="px1">
  <div class="ctr">

    <div class="row pb2">
      <div class="col cd9 ofd3">
        <p class="h1 mw2">Sme húževnatí, optimistickí, ticho sebavedomí a spokojní s dokonalosťou.</p>
        <p><a href="/sk/prace/">Toto je je to, čo robíme →</a></p>
      </div>
    </div>

  </div>
</main>


<div class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col c6 cd4 ofd2">
        <a target="_blank" href="http://www.evamikulasova.com/" title="www.evamikulasova.com">{% include image50vw.html basename="eva-mikulasova-painter-2017-circle" alt="Eva Mikulášová" %}</a>
      </div>
    </div>

    <div class="row pb2">
      <div class="col cd9 ofd3">
        <h2 class="h2">Eva Mikulášová</h2>
        <p>Eva je maliarka. Absolvovala štúdium Maľby a iných médií na Vysokej škole výtvarných umení v ateliéri prof. I. Csudaia. Žije a tvorí v Bratislave.</p>
        <p><a target="_blank" href="http://www.evamikulasova.com/">www.evamikulasova.com →</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col c6 cd4 ofd2">
        <a target="_blank" href="http://www.pavolmikulas.com/" title="www.pavolmikulas.com">{% include image50vw.html basename="pavol-mikulas-designer-2017-circle" alt="Pavol Mikuláš" %}</a>
      </div>
    </div>

    <div class="row">
      <div class="col cd9 ofd3">
        <h2 class="h2">Pavol Mikuláš</h2>
        <p>Pavol je multidisciplinárny dizajnér, ktorý verí, že dizajn zameraný na človeka môže spraviť našu planétu lepším miestom pre život.</p>
        <p><a target="_blank" href="http://www.pavolmikulas.com/">www.pavolmikulas.com →</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
        <p>Vývojka je slovenské dizajnérske štúdio zamerané na produktový a korporátny dizajn založené v roku 2012.</p>
        <p>Štúdio ponúka široký rozsah služieb od dizajnu nábytku až po šperky a hodinky, bicykle a ohrievače vody a korporátny dizajn.</p>
        <p>V súčasnosti štúdio navrhuje drevené celo-odpružené detské bicykle pre Re pello, Česká republika.</p>
        <p>Chcete vedieť viac? <a class="mail" href="mailto:{{ site.email }}" onmouseover="this.href=this.href.replace(/e/g,'v').replace(/b/g,'o');">Napíšte nám →</a></p>
      </div>
    </div>

  </div>
</div>
