---
title: Re pello Model 16
label: Model 16
subtitle: Wooden, full suspension bike for children
description: Model 16 is full suspension bike for children aged from 4 to 6 years, made of birch plywood. It was exhibited at Prague’s Designblok in 2017.
permalink: /work/re-pello-model-16/
layout: default
published: true
group: project
lang: en
language: English
og-locale: en_US
thumbnail: re-pello-model-16-stone-1by1
image: re-pello-model-16-side-2by1
og-image: re-pello-model-16-side-2by1-w2000.jpg
order: 3
sitemap:
  priority: 1
index_tile: true
work_tile: true
class: m16
---
<div class="ctr">

  <div class="row">
    <div class="col">
      {% include image100vw.html basename="re-pello-model-16-side-2by1" alt="Re pello Model 16" %}
    </div>
  </div>

</div>


<div class="px1">
  <div class="ctr">

    <div class="row py1">
      <div class="col c6">
       {% include image50vw.html basename="re-pello-model-16-stone-1by1" alt="Re pello Model 16 by the stone" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="re-pello-model-16-jiri-marjan-1by1" alt="Re pello Model 16 and Jiří Marján" %}
      </div>
    </div>

    <div class="row py1">
      <div class="col">
        {% include image100vw.html basename="re-pello-model-16-stonewall-4by3" alt="Re pello Model 16 red" %}
      </div>
    </div>

  </div>
</div>


<main class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        {% if page.title %}<h1 class="h1">{{ page.title }}</h1>{% endif %}
      </div>
    </div>

    <div class="row pb1">
      <div class="col c9 cd5 ofd3">
        {% include image100-50vw.html basename="re-pello-model-16-drawing-3by2" alt="Re pello Model 16 drawing" %}
      </div>
    </div>

    <div class="row">
      <div class="col cd9 ofd3">
        <p>Model 16 is full suspension bike for children aged from 4 to 6 years, made of birch plywood.</p>
        <p>The patented LVS™ suspension system was created by design engineer Jiří Marján.</p>
        <p>Thanks to the suspension system vibrations are significantly reduced when riding on any surface. The suspension system protects the child's body from harmful vibrations and provides a comfortable riding experience.</p>
        <p><a target="_blank" href="https://www.repello.cz/">Re pello</a> Model 16 was exhibited at Prague’s <a target="_blank" href="http://www.designblok.cz/">Designblok</a> in 2017.</p>
      </div>
    </div>

  </div>
</main>


{% include highlight-tiles.html %}
