---
title: Re pello Model J
label: Re pello Model J
subtitle: Re pello Model J balance bike
description: Model J is a full suspension balance bike for children aged from 2 to 4 years.
permalink: /work/re-pello-model-j/
layout: default
published: true
group: project
lang: en
language: English
og-locale: en_US
thumbnail: re-pello-model-j-red-athlete-1by1
image: re-pello-model-j-red-athlete-2by1
og-image: re-pello-model-j-milan-dancing-2by1-w2000.jpg
order: 2
sitemap:
  priority: 1
index_tile: true
work_tile: true
class: mj
---
<div class="crl">

  <div class="row">
    <div class="col">
      {% include image100vw.html basename="re-pello-model-j-milan-dancing-2by1" alt="Re pello Model J Milan edition" %}
    </div>
  </div>

</div>


<main class="px2">
  <div class="crl">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
        <p><a target="_blank" href="https://www.repello.cz/">Re pello</a> <a target="_blank" href="https://www.repello.cz/model-j/">Model J</a> is a full suspension balance bike for children aged from 2 to 4 years.</p>
        <p>It is lightweight and comfortable.</p>
      </div>
    </div>

  </div>
</main>


<div class="px2 pt2 pb1">
  <div class="crl">

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="re-pello-exhibition-milan-2017-1by1" alt="Re pello Model J at Salone del Mobile 2017 in Milan" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="re-pello-exhibition-milan-edition-2017-1by1" alt="Re pello Model J at Salone del Mobile 2017 in Milan" %}
      </div>
    </div>

    <div class="row py2">
      <div class="col cd9 ofd3">
        <p>Model J was exhibited at <a target="_blank" href="https://www.salonemilano.it/">Salone del Mobile</a> 2017 in Milan.</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="re-pello-exhibition-festivalmini-2017-2by1" alt="Re pello at festival mini 2017" %}
      </div>
    </div>

    <div class="row py2">
      <div class="col cd9 ofd3">
        <p>Model J at <a target="_blank" href="http://festivalmini.cz/">festival mini</a> in Prague.</p>
      </div>
    </div>

    <div class="row pb3">
      <div class="col">
        {% include image100vw.html basename="re-pello-model-j-red-athlete-2by1" alt="Re pello Model J red" %}
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="re-pello-model-j-production-4-1by1" alt="Re pello Model J production" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="re-pello-model-j-production-3-1by1" alt="Re pello Model J production" %}
      </div>
    </div>

    <div class="row py2">
      <div class="col cd9 ofd3">
        <p>Production of the balance bike in the Czech Republic.</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="re-pello-model-j-white-4by3" alt="Re pello Model J visualization" %}
      </div>
    </div>

    <div class="row py1">
      <div class="col cd9 ofd3">
        <p>Model J visualization.</p>
      </div>
    </div>

    <div class="row">
      <div class="col cd9 ofd3">
        {% if page.subtitle %}<h2 class="h2">{{ page.subtitle }}</h2>{% endif %}
      </div>
    </div>

    <div class="row pb1">
      <div class="col c9 cd5 ofd3">
        {% include image100-50vw.html basename="re-pello-model-j-drawing-2by1" alt="Re pello Model J drawing" %}
      </div>
    </div>

    <div class="row">
      <div class="col cd9 ofd3">
        <p>We developed Model J in cooperation with engineer Jiří Marján/Re pello.</p>
        <p>Balance bike was exhibited at Prague’s Designblok in 2015, 2016 and 2017 and at the exhibition Salone del Mobile 2017 in Milan.</p>
      </div>
    </div>

  </div>
</div>


{% include highlight-tiles.html %}
