---
title: Re pello Corporate Design
label: Re pello Corporate Design
subtitle: Re pello Brand
description: Corporate design of Re pello brand.
permalink: /work/re-pello-corporate-design/
layout: default
published: true
group: project
lang: en
language: English
og-locale: en_US
thumbnail: re-pello-logo-design-birch-1by1
image: re-pello-logo-design-birch-2by1
og-image: re-pello-logo-design-birch-2by1-w2000.jpg
order: 1
sitemap:
  priority: 1
index_tile: true
work_tile: true
class: mj
---
<div class="crl">

  <div class="row">
    <div class="col">
      {% include image100vw.html basename="re-pello-logo-design-birch-2by1" alt="Re pello logo design" %}
    </div>
  </div>

</div>


<main class="px2 pt1">
  <div class="crl">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
        <p>Corporate design of <a target="_blank" href="https://www.repello.cz/">Re pello</a> brand.</p>
      </div>
    </div>

  </div>
</main>


<div class="px2 pb1">
  <div class="crl">

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="re-pello-business-cards-w-2by1" alt="Re pello business cards" %}
      </div>
    </div>

    <div class="row py1">
      <div class="col cd9 ofd3">
        <p>Re pello business cards.</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="re-pello-model-j-dieline-package-design-2by1" alt="Re pello Model J package design" %}
      </div>
    </div>

    <div class="row py1">
      <div class="col cd9 ofd3">
        <p>Model J package design.</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="re-pello-color-combinations-5by4" alt="Re pello colors" %}
      </div>
    </div>

    <div class="row py1">
      <div class="col cd9 ofd3">
        <p>Re pello colors.</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="re-pello-strapline-2by1" alt="Re pello strapline Moving happily" %}
      </div>
    </div>

    <div class="row py1">
      <div class="col cd9 ofd3">
        <p>Re pello strapline.</p>
      </div>
    </div>

    <div class="row">
      <div class="col cd6 pb1">
        {% include image100-50vw.html basename="re-pello-exhibition-designblok-2016-1-4by3" alt="Re pello exhibition design Designblok 2016" %}
      </div>
      <div class="col cd6">
        {% include image100-50vw.html basename="re-pello-exhibition-designblok-2017-1-4by3" alt="Re pello exhibition design Designblok 2017" %}
      </div>
    </div>

    <div class="row py1">
      <div class="col cd9 ofd3">
        <p>Re pello exhibition design.</p>
      </div>
    </div>

    <div class="row">
      <div class="col cd9 ofd3">
        {% if page.subtitle %}<h2 class="h2">{{ page.subtitle }}</h2>{% endif %}
      </div>
    </div>

    <div class="row pb1">
      <div class="col c9 cd5 ofd3">
        {% include image100-50vw.html basename="re-pello-illustration-paper-airplanes-3by2" alt="paper airplanes illustration" %}
      </div>
    </div>

    <div class="row">
      <div class="col cd9 ofd3">
        <p>For the <a target="_blank" href="https://www.repello.cz/">Re pello</a> brand, we designed a logo, slogan, packaging, Model J manual, flyers, business cards and exhibitions.</p>
        <p>We chose font <a target="_blank" href="http://www.urtd.net/fonts/doko">Doko</a> from type designer <a target="_blank" href="http://www.setuptype.com/">Ondrej Jób</a>, twelve colors and fourteen color combinations.</p>
        <p>We drew illustrations, designed and developed an online store.</p>
        <p>The development of corporate design took us three years.</p>
        <p>The corporate design of the Re pello brand was created by cooperation between <a target="_blank" href="http://www.evamikulasova.com/">Eva Mikulášová</a>, Júlia Švajda, and <a target="_blank" href="http://www.pavolmikulas.com/">Pavol Mikuláš</a>.</p>
      </div>
    </div>

  </div>
</div>


{% include highlight-tiles.html %}
