---
layout: compress
---
<!doctype html>
{% if page.group == "index" or page.group == "work" or page.group == "project" or page.group == "legal" %}
  <html lang="{{ page.lang }}" itemscope itemtype="http://schema.org/WebPage">
{% elsif page.group == "contact" %}
  <html lang="{{ page.lang }}" itemscope itemtype="http://schema.org/ContactPage">
{% elsif page.group == "about" %}
  <html lang="{{ page.lang }}" itemscope itemtype="http://schema.org/AboutPage">
{% else %}
  <html lang="{{ page.lang }}">
{% endif %}
{% include head.html %}

{% comment %} Add dev class while development {% endcomment %}
{% assign page_class = "" %}

{% if site.development == true %}
  {% assign page_class = "dev" %}
{% endif %}

{% comment %} Add page.group class {% endcomment %}
{% if page.group %}
  {% if page_class == "" %}
    {% assign page_class = page.group %}
  {% else %}
    {% assign page_class = page_class | append: " " | append: page.group %}
  {% endif %}
{% endif %}

{% comment %} Add page.class {% endcomment %}
{% if page.class %}
  {% if page_class == "" %}
    {% assign page_class = page.class %}
  {% else %}
    {% assign page_class = page_class | append: " " | append: page.class %}
  {% endif %}
{% endif %}

<!-- Body -->
{% if page_class != "" %}
  <body class="{{ page_class }}">
{% else %}
  <body>
{% endif %}

{% include header.html %}
{{ content | strip }}
{% include footer.html %}

</body>
</html>
