---
layout: compress
---
<!doctype html>
<html>

{% include head.html %}

{% comment %} Add dev class while development {% endcomment %}
{% assign page_class = "" %}

{% if site.development == true %}
  {% assign page_class = "dev" %}
{% endif %}

{% comment %} Add page.group class {% endcomment %}
{% if page.group %}
  {% if page_class == "" %}
    {% assign page_class = page.group %}
  {% else %}
    {% assign page_class = page_class | append: " " | append: page.group %}
  {% endif %}
{% endif %}

{% comment %} Add page.class {% endcomment %}
{% if page.class %}
  {% if page_class == "" %}
    {% assign page_class = page.class %}
  {% else %}
    {% assign page_class = page_class | append: " " | append: page.class %}
  {% endif %}
{% endif %}

<!-- Body -->
{% if page_class != "" %}
  <body class="{{ page_class }} loading">
{% else %}
  <body class="loading">
{% endif %}

{{ content | strip }}

</body>
</html>
